<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="../Public/Style/Home.css">
</head>
<body>
    <div class="container">
        <h3>Image Upload Form</h3>
        <form method="post" action="/Upload" enctype="multipart/form-data">
            <input type="file" name="file" class="input-box" /><br /><br />
            <button type="submit" name="upload" class="btn" >Upload</button>
          </form>
    </div>
</body>
</html>